  /*------------ CODE FOR RESPONSIVE WEBSITE --------------*/


/*  TABLE OF CONTENTS

1. Media for Mobile MAX-DEVICE-WIDTH 640px
2. Media for Tablet MAX-WIDTH 767px
3. Media for Tablet MIN-WIDTH 768px and MAX-WIDTH 991px
4. Media for Laptop Screen and MAX-WIDTH 960px
5. Media for Laptop MIN-WIDTH 992px AND MAX-WIDTH 1199px
6. Media for LaptopL SCREEN AND MIN-WIDTH 1200px
7. Media for LaptopXL SCREEN AND MIN-WIDTH 1400px
8. Media for LaptopXL SCREEN AND MIN-WIDTH 1600px
9. Media for LaptopXL SCREEN AND MIN-WIDTH 1900px

*/


/*------------ 1. Media for Mobile MAX-DEVICE-WIDTH 640px--------------*/

@media only screen and (max-device-width: 640px) {
  #headerS {
    width: 104%;
    margin-bottom: 1%;
    display: inherit;
  }
  #headerL,
  #headerXL,
  #headerTablet,
  #headerLaptop {
    display: none;
  }
  #footerS {
    width: 104%;
    margin-bottom: 1%;
    display: inherit;
  }
  #footerL,
  #footerXL,
  #footerTablet,
  #footerLaptop {
    display: none;
  }
  #mydfktitle {
    font-size: 50px;
  }
  #tagphoto {
    font-size: 22px;
  }
  .add-photo {
    font-size: 36px;
    border-radius: 50px;
    width: 35%;
    padding: 20px 13px;
    margin-left: 33%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .column {
    margin-left: 3.3%;
    margin-bottom: 4%;
  }
  .column img {
    width: 420px;
    height: 380px;
  }
  .gallery-item {
    width: 400px;
    height: 352px;
  }
  #facebook-logo,
  #instagram-logo {
    font-size: 32px;
  }
  /*----------- GALLERY IMAGE DIALOG -------------*/
  .modal-dialog {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    margin-top: 0%;
    min-height: 100%;
    max-height: 100%;
    top: 0;
  }
  .modal {
    margin: 0 auto 0px auto;
  }
  .close {
    color: #414040;
    font-size: 55px;
    /* border-bottom: 1px solid #414040; */
    margin-bottom: 2%;
    margin-top: 2%;
    float: right;
    margin-right: 2.5%;
  }
  .container {
    margin-top: 0%;
  }
  .modal-left {
    width: 100%;
    margin-bottom: 4%;
    margin-left: -15px;
  }
  #modal-image {
    width: 103%;
    min-height: 100%;
    max-height: 100%;
  }
  .modal-right {
    width: 100%;
    min-height: 100%;
    overflow: scroll;
    float: none;
    display: inline-flex;
    margin-left: 4%;
    margin-top: 0%;
    max-height: 100%;
  }
  #product-number {
    margin-top: 1.3%;
  }
  #rounded-number {
    padding: 7px 20px 7px 20px;
    font-size: 35px;
  }
  .modal-title {
    font-size: 30px;
  }
  #description {
    font-size: 26px;
  }
  #product-image {
    margin-top: 0%;
    margin-left: 19px;
    width: 24%;
  }
  #product-details {
    width: 60%;
  }
  #image-size {
    width: 45%;
    height: 45%;
  }
  .products {
    padding: 0px;
    /*change*/
  }
  /*------------ GALLERY CAROUSEL --------------*/
  .gallery-carousel {
    width: 102%;
    margin-top: -1%;
  }
  .carousel-control>a>span {
    font-size: 55px !important;
    background-color: transparent;
    padding: 67px 10px 67px 10px;
    margin-top: -66px;
  }
  .carousel-control.right {
    margin-right: 6.7%;
  }
  .carousel-control.left {
    margin-left: 0.5%;
  }
  .img-responsive img {
    max-width: 290px;
    max-height: 295px;
  }
  .img-responsive {
    height: 210px;
    width: 250px;
  }
  .col-md-10 {
    width: 95%;
  }
}


/*------------ END OF 1. Media for Mobile MAX-DEVICE-WIDTH 640px--------------*/


/*------------ 2. Media for Tablet MAX-WIDTH 767px--------------*/

@media (max-width: 767px) {
  .carousel-inner .active.left {
    left: -50%;
  }
  .carousel-inner .active.right {
    left: 50%;
  }
  .carousel-inner .next {
    left: 50%;
  }
  .carousel-inner .prev {
    left: -50%;
  }
  .carousel-col {
    width: 50%;
  }
  .active>div:first-child+div {
    display: block;
  }
  .active>div:first-child+div+div {
    display: block;
  }
}


/*------------END OF 2. Media for Tablet MAX-WIDTH 767px--------------*/


/*------------ 3. Media for Tablet MIN-WIDTH 768px and MAX-WIDTH 991px --------------*/

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left {
    left: -25%;
  }
  .carousel-inner .active.right {
    left: 25%;
  }
  .carousel-inner .next {
    left: 25%;
  }
  .carousel-inner .prev {
    left: -25%;
  }
  .carousel-col {
    width: 25%;
  }
  .active>div:first-child+div {
    display: block;
  }
  .active>div:first-child+div+div {
    display: block;
  }
  .active>div:first-child+div+div+div {
    display: block;
  }
  .carousel-control.left,
  .carousel-control.right {
    margin-top: 9.5%;
  }
  .gallery-carousel {
    width: 103%;
  }
  #mydfktitle {
    font-size: 32px;
  }
  .row {
    margin-right: 3.3%;
    margin-left: 0%;
  }
  .img-responsive img {
    max-width: 290px;
    max-height: 295px;
  }
  #website-image {
    width: 97%;
    margin-left: 1.2%;
  }
  .col-md-10,
  .col-xs-11 {
    padding-right: 0px;
    padding-left: 27px;
  }
  .col-md-10 {
    width: 95%;
  }
  .img-responsive {
    height: 210px;
    width: 250px;
  }
  aside {
    padding: 0 1rem 0 0;
  }
  .summary {
    width: 28%;
  }
  .basket-labels {
    display: none;
  }
  #dialogoverlay {
    height: 100%;
    width: 100%;
  }
  #tagphoto {
    font-size: 25px;
  }
  .modal-dialog {
    width: 100%;
  }
  #headerTablet {
    width: 105%;
    height: 100%;
    margin-bottom: 0.5%;
    display: inline-flex;
  }
  #headerS,
  #headerL,
  #headerLaptop,
  #headerXL {
    display: none;
  }
  #footerTablet {
    width: 105%;
    height: 100%;
    margin-top: 0.5%;
    display: inline-flex;
  }
  #footerS,
  #footerL,
  #footerLaptop,
  #footerXL {
    display: none;
  }
}


/*------------END OF 3. Media for Tablet MIN-WIDTH 768px and MAX-WIDTH 991px --------------*/


/*------------ 4. Media for Laptop Screen and MAX-WIDTH 960px --------------*/

@media screen and (max-width: 960px) {
  main {
    width: 100%;
  }
  .product-details {
    padding: 0 1rem;
  }
  #dialogoverlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  #dialogbox {
    left: 25%;
    top: 30%;
    width: 50%;
    height: 405px;
  }
  #close-popup {
    font-size: 40px;
  }
  .modal-dialog {
    width: 80%;
  }
  #headerLaptop {
    width: 100%;
    height: 100%;
    margin-bottom: 0.5%;
    display: inline-flex;
  }
  #headerL,
  #headerXL {
    display: none;
  }
  #footerLaptop {
    width: 100%;
    height: 100%;
    margin-top: 0.5%;
    display: inline-flex;
  }
  #footerS,
  #footerL,
  #footerXL {
    display: none;
  }
}


/*------------END OF 4. Media for Laptop Screen and MAX-WIDTH 960px --------------*/

@media (max-width: 980px) and (min-device-width:768px) {
  .modal-dialog {
    width: 84%;
    margin-left: 7.5%;
    top: calc(50% - 283px);
  }
  .col-md-10 {
    width: 100%;
  }
  .img-responsive img {
    max-width: 290px;
    max-height: 320px;
  }
}


/*------------ 5. Media for Laptop MIN-WIDTH 992px AND MAX-WIDTH 1199px --------------*/

@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left {
    left: -20%;
  }
  .carousel-inner .active.right {
    left: 20%;
  }
  .carousel-inner .next {
    left: 20%;
  }
  .carousel-inner .prev {
    left: -20%;
  }
  .carousel-col {
    width: 20%;
  }
  .active>div:first-child+div {
    display: block;
  }
  .active>div:first-child+div+div {
    display: block;
  }
  .active>div:first-child+div+div+div {
    display: block;
  }
  .active>div:first-child+div+div+div+div {
    display: block;
  }
  .gallery-carousel {
    width: 104%;
  }
  .carousel-control.left {
    margin-top: 8.5%;
    margin-left: 3%;
  }
  .carousel-control.right {
    margin-top: 8.5%;
    margin-right: 2%;
  }
  .img-responsive {
    height: 180px;
  }
  .img-responsive img {
    max-width: 250px;
    max-height: 270px;
  }
  .col-md-10 {
    width: 95%;
  }
  #website-image {
    width: 101%;
  }
  .modal-dialog {
    width: 70%;
    margin-left: 13%;
    top: calc(50% - 255px);
    min-height: 400px;
    max-height: 400px;
  }
  #modal-image {
    max-height: 400px;
    min-height: 400px;
  }
  .carousel-inner {
    margin-left: 2.6%;
  }
  #headerLaptop {
    width: 107.8%;
    height: 100%;
    margin-bottom: 0.5%;
    display: inline-flex;
  }
  #headerL,
  #headerXL,
  #headerS,
  #headerTablet {
    display: none;
  }
  #footerLaptop {
    width: 107.8%;
    height: 100%;
    margin-top: 0.5%;
    display: inline-flex;
  }
  #footerXL,
  #footerL,
  #footerTablet,
  #footerS {
    display: none;
  }
}


/*------------END OF 5. Media for Laptop MIN-WIDTH 992px AND MAX-WIDTH 1199px --------------*/


/*------------ 6. Media for LaptopL SCREEN AND MIN-WIDTH 1200px --------------*/

@media screen and (min-width: 1200px) {
  #close-popup {
    font-size: 25px;
  }
  #headerL {
    width: 100%;
    height: 100%;
    margin-bottom: 0.5%;
    display: inline-flex;
  }
  #headerXL {
    display: none;
  }
  #footerL {
    width: 100%;
    height: 100%;
    margin-top: 0.5%;
    display: inline-flex;
  }
  #footerS,
  #footerTablet,
  #footerLaptop,
  #footerXL {
    display: none;
  }
  .carousel-inner .active.left {
    left: -16.66%;
  }
  .carousel-inner .active.right {
    left: 16.66%;
  }
  .carousel-inner .next {
    left: 16.66%;
  }
  .carousel-inner .prev {
    left: -16.66%;
  }
  .carousel-col {
    width: 16.66%;
  }
  .active>div:first-child+div {
    display: block;
  }
  .active>div:first-child+div+div {
    display: block;
  }
  .active>div:first-child+div+div+div {
    display: block;
  }
  .active>div:first-child+div+div+div+div {
    display: block;
  }
  .active>div:first-child+div+div+div+div+div {
    display: block;
  }
}


/*------------END OF 6. Media for LaptopL SCREEN AND MIN-WIDTH 1200px --------------*/


/*------------ 7. Media for LaptopXL SCREEN AND MIN-WIDTH 1400px --------------*/

@media screen and (min-width: 1400px) {
  .modal-dialog {
    min-height: 480px;
    max-height: 480px;
    width: 60.5%;
    margin-left: 19%;
  }
  #modal-image {
    max-height: 480px;
    min-height: 480px;
  }
  #headerL {
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    display: inline-flex;
  }
  #headerXL {
    display: none;
  }
  #footerL {
    width: 100%;
    height: 100%;
    margin-top: 0.7%;
    display: inline-flex;
  }
  #footerXL {
    display: none;
  }
  /*------------END OF 7. Media for LaptopXL SCREEN AND MIN-WIDTH 1400px --------------*/
  /*------------ 8. Media for LaptopXL SCREEN AND MIN-WIDTH 1600px --------------*/
  @media screen and (min-width: 1600px) {
    #share-text {
      font-size: 14px;
    }
    #myTextarea {
      height: 80px;
      font-size: 14px;
    }
    #share-header {
      font-size: 14px;
    }
    .modal-dialog {
      width: 52%;
    }
    #footerXL {
      width: 100%;
      height: 100%;
      margin-top: 0.5%;
      display: inline-flex;
    }
    #footerL,
    #footerLaptop {
      display: none;
    }
  }
  /*------------END OF 8. Media for LaptopXL SCREEN AND MIN-WIDTH 1600px --------------*/
  /*------------ 9. Media for LaptopXL SCREEN AND MIN-WIDTH 1900px --------------*/
  @media screen and (min-width: 1900px) {
    .box-text {
      height: 290px;
    }
    #share-text {
      font-size: 16px;
    }
    #myTextarea {
      height: 88px;
      font-size: 16px;
    }
    #share-header {
      font-size: 16px;
    }
    .modal-dialog {
      width: 47%;
      margin-left: 27%;
    }
    #headerXL {
      width: 100%;
      height: 100%;
      margin-bottom: 0.5%;
      display: inline-flex;
    }
    #headerL {
      display: none;
    }
    main {
      margin-left: 22.5%;
    }
    #footerXL {
      width: 100%;
      height: 100%;
      margin-top: 0.5%;
      display: inline-flex;
    }
    #footerL,
    #footerLaptop {
      display: none;
    }
  }
  /*------------END OF 9. Media for LaptopXL SCREEN AND MIN-WIDTH 1900px --------------*/