/*----------------- GENERAL CSS STYLE --------------------*/

@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

/*basic reset*/

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #fff;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 76.5%;
  margin: 0 auto;
}

main {
  margin: 0 auto 5px auto;
  padding: 0 0;
  width: 998px;
}

p {
  margin: 0.75rem 0 0;
}

h1 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
button {
  border: 0 none;
  outline: 0 none;
}

label {
  display: block;
  margin-bottom: 0.3125rem;
}


/*--------------- GENERAL STYLE -----------*/


/*--------------- GALLERY STYLE -----------*/

.dfk-header {
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  transform: translate(0%, 0%);
  margin-bottom: -29px;
}

#headerS,
#headerXL,
#headerTablet,
#headerLaptop,
#headerL {
  display: none;
}

.dfk-footer {
  width: 100%;
  bottom: 0;
  left: 0;
  position: relative;
  transform: translate(0%, 0%);
  margin-top: -25px;
}

#footerS,
#footerTablet,
#footerLaptop,
#footerL,
#footerXL {
  display: none;
}

.top-elements {
  margin-top: 2%;
}

#msform {
  width: 100%;
  margin: 30px auto;
  position: relative;
}

#mydfktitle {
  text-align: center;
  font-size: 23px;
  font-weight: 800;
  margin-bottom: 0.8%;
}

#tagphoto {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1.8%;
}

* {
  box-sizing: border-box;
}

#instagram-logo {
  font-size: 20px;
}

#facebook-logo {
  font-size: 20px;
}


/*---------------- GALLERY LAYOUT ----------------*/

.popup-gallery {
  width: 100%;
}


/* Create four equal columns that floats next to each other */

.column {
  float: left;
  padding: 10px;
  background-color: white;
  /* Should be removed. Only for demonstration */
  margin-left: 1%;
}

.column img {
  width: 220px;
  height: 200px;
}

.carousel-control>a>span {
  font-size: 55px !important;
  background-color: transparent;
  padding: 67px 10px 67px 10px;
  margin-top: -66px;
}


/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.gallery-item {
  width: 210px;
  height: 200px;
  float: left;
  padding: 0px;
}

.gallery-item img:hover {
  opacity: 0.6;
  border: 3px solid #00a100;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.modal {
  margin: 0 auto 28px auto;
}

.modal-open {
  margin: 0 auto;
  overflow: auto;
}

#modal-image {
  width: 100%;
  object-fit: cover;
  max-height: 445px;
  min-height: 445px;
}

.modal-image-caption {
  text-transform: capitalize;
}

.products {
  margin-top: -10%;
}

.first-product,
{
  width: 100%;
  float: left;
}

.second-product,
.third-product,
.fourth-product,
.fifth-product {
  width: 100%;
  float: left;
  margin-top: 5%;
}

#product-number {
  width: 13%;
  float: left;
  margin-top: 5%;
}

#product-details {
  width: 62%;
  float: left;
}

#product-image {
  width: 23%;
  float: right;
  margin-top: 2%;
}

#label-link:hover {
  color: #00a100;
  text-decoration: underline;
  font-weight: 800;
}

#rounded-number {
  background-color: #ffef40;
  color: black;
  font-size: 16px;
  font-weight: 800;
  border-radius: 50%;
  padding: 4px 10px;
}

.modal-open {
  overflow: hidden
}

.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0
}

.modal-dialog {
  position: relative;
  margin: 0 auto 0 auto;
  top: calc(50% - 300px);
  width: 70%;
  min-height: 445px;
  max-height: 445px;
  background-color: white;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform .3s ease-out;
  -moz-transition: -moz-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0)
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0)
}

.modal-backdrop.in {
  opacity: .5;
  filter: alpha(opacity=50)
}

.container {
  width: 100%;
  margin-top: 8%;
}

.modal-left {
  float: left;
  width: 60%;
  /*margin-left: -15px; change*/
  box-sizing: border-box;
}

.modal-right {
  min-height: 400px;
  width: 40%;
  float: right;
  margin-right: -15px;
  margin-top: 5%;
}

.close {
  background-color: white;
  color: #b8b8b8;
  margin-top: 0.5%;
  float: right;
  font-size: 19px;
  margin-right: 1%;
}

.close:hover {
  background-color: white;
  color: #00a100;
  border-bottom: 1px solid #00a100;
  transition: 0.3s ease;
}

#picture-description {
  width: 100%;
  float: left;
  margin-left: -80%;
  margin-top: 17%;
}

.modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5
}

.modal-footer .btn+.btn {
  margin-left: 5px;
  margin-bottom: 0
}

.modal-footer .btn-group .btn+.btn {
  margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
  margin-left: 0
}

.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table
}

.modal-footer:after {
  clear: both
}

.fade {
  opacity: 1;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear
}

.gallery-overlay {
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 5px;
  object-fit: cover;
  right: 0;
  height: 98%;
  width: 98%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.img-responsive:hover .gallery-overlay {
  opacity: 0.5;
}

.img-responsive:hover .text {
  opacity: 1;
}

.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: .5s ease;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/*--------------- GALLERY CAROUSEL -----------------*/

.gallery-carousel {
  width: 107%;
  margin-top: -11%;
}

.row {
  margin-right: -5%;
  margin-left: -2%;
}

.col-md-10 {
  width: 89.5%;
}

.img-responsive {
  display: block;
  width: 200px;
  height: 150px;
  margin: auto;
  object-fit: cover;
}

#website-image {
  width: 100%;
}

.img-responsive img {
  max-width: 210px;
  max-height: 215px;
  margin: auto;
  display: block;
}

.carousel-control {
  width: 8%;
  width: 0px;
}

.carousel-control.right {
  margin-right: 3.9%;
  margin-left: 32px;
  background-image: none;
  margin-top: 7%;
  opacity: 1;
}

.carousel-control.left {
  margin-right: 40px;
  margin-top: 7%;
  margin-left: 0.2%;
  background-image: none;
  opacity: 1;
}

.carousel-control>a>span {
  color: white;
  font-size: 32px !important;
}

.carousel-col {
  position: relative;
  min-height: 1px;
  padding: 5px;
  float: left;
  overflow: hidden;
}

.active>div {
  display: none;
}

.active>div:first-child {
  display: block;
}